<launch>
    <node pkg="team5_code" 
		type="line_follow.py" 
		name="line_detector" 
		output="screen">
  	</node>
	<node pkg="team5_code"
        type="drive.py"
        name="driver" 
        output="screen">
   </node>
   <node pkg="team5_code" 
		type="drive_hill.py" 
		name="drive_hill" 
		output="screen">
  	</node>
	<node pkg="team5_code"
		type="plate_detect.py"
		name="plate_detector"
		output="screen">
    </node>
</launch>
